<p>
  <b>Name:</b>
  <%=h @list.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @list.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @list.description %>
</p>

<p>
  <b>Category:</b> <br />
  <% @list.categories.each do |cat| %>
    <%=h "#{cat.self_and_ancestors.map(&:name).join(' > ')}" %> <br />
  <% end %>
</p>

<%#= link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Back', new_list_path %>

