<table border="1">
    <tr>
        <th> Name </th>
        <th> URL  </th>
        <th> Description </th>
        <th> Category 1 - 1 </th>
        <th> Category 1 - 2 </th>
        <th> Category 1 - 3 </th>
        <th> Category 1 - 4 </th>
        <th> Category 2 - 1</th>
        <th> Category 2 - 2 </th>
        <th> Category 2 - 3 </th>
        <th> Category 2 - 4 </th>
        <th> Category 3 - 1</th>
        <th> Category 3 - 2 </th>
        <th> Category 3 - 3 </th>
        <th> Category 3 - 4 </th>
        <th> State </th>
        <th> Name </th>
        <th> Email </th>
        <th> Mobile </th>
        <th> Phone </th>
        <th> Fax </th>
        <th> Created By </th>
    </tr>
    <% @lists.each do |list| %>
        <tr>
            <td> <%= list.name %> </td>
            <td> <%= list.url %> </td>
            <td> <%= list.description %> </td>
            <% categories = list.categories %>
            <% 3.times do |i| %>
              <% if categories[i]  %>
                <% ancestors = categories[i].self_and_ancestors %>
                <td> <%= ancestors[0].nil? ? "-" : ancestors[0].name  %> </td>
                <td> <%= ancestors[1].nil? ? "-" : ancestors[1].name %> </td>
                <td> <%= ancestors[2].nil? ? "-" : ancestors[2].name %> </td>
                <td> <%= ancestors[3].nil? ? "-" : ancestors[3].name %> </td>
              <% else %>
                <td> - </td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
              <% end %>
            <% end %>
            <td> <%= list.address.location %> </td>
            <td> <%= list.address.name %> </td>
            <td> <%= list.address.email %> </td>
            <td> <%= list.address.mobile %> </td>
            <td> <%= list.address.phone %> </td>
            <td> <%= list.address.fax %> </td>
            <td> <%= list.user.nil? ? "" : "(#{list.user.id}) #{list.user.login}" %> </td>
        </tr>
    <% end %>
</table>

